body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #0062d2;
}

header {
    background: #48434b;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: #f4f4f4;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    background: #0138d0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #49454c;
    color: #fff;
}

/* About Page */
.about {
    text-align: center;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Projects Page */
.projects {
    text-align: center;
    padding: 20px;
}

.project {
    margin-bottom: 30px;
}

.project img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1em;
    line-height: 1.4;
}

